
article {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

article .article-container {
    padding: 100px 20px;
    border-bottom: 1px solid var(--border-color);
}

.more-than-a-container {
    padding: 100px 20px 0;
    max-width: 1080px;
    margin: 0 auto;
}

.more-than-a-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
    padding-bottom: 100px;
    border-bottom: 1px solid var(--border-color);
}

.more-than-a-container .card-container .card {
    padding: 0 20px;
}

.more-than-a-container .card-container .card img {
    height: 200px;
}

.image-container {
    padding: 100px 20px 50px;
}

.image-container img {
    max-width: 420px;
}